In [7]:
import pandas as pd
import os
import json

## Read a single JSON

Define a function called read_json. Given a string representing a file path to a json file, this function should open said file and convert its contens into a json object.

In [11]:
# implement me
def read_json(file_path):
    pass
    try:
        with open(file_path, 'r') as file:
            data = json.load(file)
        return data
    except FileNotFoundError:
        print(f"Error file not found")
        return None
    except json.JSONDecodeError:
        print(f"Error could not decode")
        return None
    except Exception as e:
        print(f"Unexpected error: {e}")
        return None

Use the read_json function defined above to read the contents of one of the locations_4.json file acquired in the Data Acquisition Lab.

In [12]:
file_path = os.path.join('./', 'data', 'locations', 'locations_4.json')
json_contents = read_json(file_path)

Display the value of the json_contents variable defined above.

In [ ]:
#json_contents

#uncomment above to see it but realize it is long

## Convert JSON Into a DataFrame

Using the json_contents variable, create a Pandas dataframe.

In [17]:
# Create DataFrame here.
contents_dataframe = pd.DataFrame(json_contents['results'])

Display the contents of the DataFrame.

In [18]:
# Display contents of the DataFrame here.
contents_dataframe

        mindate     maxdate                     name  datacoverage          id
0    1913-06-08  2025-04-09     Petroleum County, MT             1  FIPS:30069
1    1905-05-08  2025-04-09      Phillips County, MT             1  FIPS:30071
2    1911-03-01  2025-04-09       Pondera County, MT             1  FIPS:30073
3    1893-02-01  2025-04-09  Powder River County, MT             1  FIPS:30075
4    1893-01-01  2025-04-09        Powell County, MT             1  FIPS:30077
..          ...         ...                      ...           ...         ...
995  1912-09-01  2025-04-09        Goliad County, TX             1  FIPS:48175
996  1915-04-01  2025-04-09      Gonzales County, TX             1  FIPS:48177
997  1907-01-27  2025-04-09          Gray County, TX             1  FIPS:48179
998  1897-05-01  2025-04-09       Grayson County, TX             1  FIPS:48181
999  1902-01-01  2025-04-09         Gregg County, TX             1  FIPS:48183

[1000 rows x 5 columns]

How many records are in the DataFrame? How many columns does each record have?

Filter the contents of the DataFrame to only show records where the name column contains the string "Durham".

In [20]:
#
contents_dataframe.loc[contents_dataframe['name'].str.contains("Durham")]

        mindate     maxdate               name  datacoverage          id
296  1891-01-01  2025-04-09  Durham County, NC             1  FIPS:37063

## Read Multiple JSON Files

Define a function called read_all_json_files. Given a string representing a path to a directory, this function should read all of the json files and return a Pandas DataFrame containing all of the objects. In addition to the data from the files, this DataFrame should also contain an additional column called "source". The source column should be populated with the name of the file from which this record originated from.

In [37]:
# implement me
def read_all_json_files(dir_path):
    pass
    all_files = []
    for filename in os.listdir(dir_path):
        if filename.endswith(".json"):
            file_path = os.path.join(dir_path, filename)
            try:
                with open(file_path, 'r') as file:
                    data = json.load(file)
                    if isinstance(data, list):
                        for record in data:
                            record['source'] = filename
                            all_files.append(record)
                    elif isinstance(data, dict):
                        if 'results' in data and isinstance(data['results'], list):
                            for record in data['results']:
                                record['source'] = filename
                                all_files.append(record)
                        else:
                            data['source'] = filename
                            all_files.append(data)
                    else:
                        print(f"Skipping '{filename}' as not .json")
            except FileNotFoundError:
                print(f"Error file not found")
                return None
            except json.JSONDecodeError:
                print(f"Error could not decode")
                return None
            except Exception as e:
                print(f"Unexpected error: {e}")
                return None
    return pd.DataFrame(all_files)

Use the read_all_json_files function above to read the contents of all locations file acquired in the the Data Acquisition Lab.  
Hint: It is easier if you put all of those files in a dedicated subdirectory ex: (./data/locations/)

In [38]:
df = read_all_json_files('./data/locations')

What is the shape of the DataFrame? Does this match the number of columns and records you expected?

In [39]:
# Validate the shape of the DataFrame here
df.shape

(38864, 6)

Show the first few records of the DataFrame.

In [42]:
# Show the first few records
df.head()

,mindate,maxdate,name,datacoverage,id,source
0,1997-03-06,2025-04-09,"Grand Isle, VT 05458",0.95,ZIP:05458,locations_10.json
1,1948-05-01,2025-04-09,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
2,1995-05-08,2025-04-09,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
3,1955-11-01,2025-04-09,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
4,1997-03-06,2025-04-09,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json

Show the last few records of the DataFrame.

In [43]:
# Show the last few records
df.tail()

,mindate,maxdate,name,datacoverage,id,source
38859,1899-10-01,2025-04-09,"Lansdale, PA 19446",1.00,ZIP:19446,locations_13.json
38860,1994-06-15,2025-04-09,"Mont Clare, PA 19453",0.95,ZIP:19453,locations_13.json
38861,1972-01-01,2025-04-09,"North Wales, PA 19454",1.00,ZIP:19454,locations_13.json
38862,1894-01-01,2025-04-09,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
38863,1994-06-15,2025-04-09,"Plymouth Meeting, PA 19462",0.95,ZIP:19462,locations_13.json

## Validate Records Are Unique

Provide two different ways to determine there are no duplicate records.  
Hint: The id field should be unique.

In [ ]:
# one day to determine there are not duplicate records

In [ ]:
# another way to determine there are no duplicate records

# Peking In

Show the record with id "CITY:TU000041". Which file did it come from?

In [ ]:
#

Show the record with id "CLIM:0405". Which file did it come from?

In [ ]:
#

How many unique values are there for the source column in the DataFrame?

In [ ]:
#

How many records did the locations_38.json file contain?

In [ ]:
#

We will work with this DataFrame in a subsequent part of the lab. Instead of repeating all of this work again, let's export the DataFrame to a pickled file.

In [ ]:
# export DataFrame to a pickled file called locations_data_frame.pickle. Save it to the data directory.